/* default laptop width is 1490px */

@media all and (min-width: 1280px){
  ul.uni-details{
    display: flex !important;
  }
  .hidden-nav, .nav-cross{
    display: none !important;
  }
}
@media all and (max-width: 1280px) {
  .navbar-burger >div {
    display: block;
  }
  .bigPixelNav{
    display: block;
  }
  ul.extrainfo{
    display: none;
  }
  ul.uni-details{
    display: none;
  }
}

@media all and (max-width: 1024px) {
  ul.buttons1 {
    margin: -0.25rem 0 5rem 0;
  }
  .right_arrow > div, .left_arrow >div{
    left: 3%;
  }

}
@media all and (max-width: 912px) {
  ul.buttons1 {
    flex-direction: column;
    align-items: center;
  }
  section.students_about_uni img {
    height: auto;
  }
  .right_arrow,
  .left_arrow {
    width: 12%;
  }
  .right_arrow > div,
  .left_arrow > div {
    left: 2vw;
  }
  .university_name_heading {
    font-size: 50px;
  }
  .navbar-burger{
    top: 0.5vh;
  }
}
@media all and (max-width: 880px) {
  div.caption > b {
    font-size: 40px;
  }
  .news-info img {
    max-width: 400px;
  }
  .university_name_heading{
    font-size: 6.2vw;
  }
}
@media all and (max-width: 710px) {
  div.caption > b {
    font-size: 30px;
  }
}
@media all and (max-width: 540px) {
  ul.buttons1 > li {
    padding: 12px 6px;
  }
  section.students_about_uni p {
    font-size: 15px;
  }
  .right_arrow,
  .left_arrow {
    width: 11%;
  }
  .right_arrow > div,
  .left_arrow > div {
    top: -17%;
    font-size: 50px;
    left: 8%;
  }
  .university_news_title > h1{
    padding: 0 5vw;
  }
}
@media all and (max-width: 415px) {
  .caption{
    margin-top: -24%;
    margin-bottom: 4%;
  }
  ul.buttons1 li {
    width: 40vw;
    text-align: center;
  }
  .news-info img {
    max-width: 300px;
  }
  .right_arrow > div, .left_arrow > div{
    font-size: 40px;
    top: -12%;
  }
  .university_name_heading {
    font-size: 4vh;
  }
  .navbar-burger > div{
    width: 4vh;
  }
  .university_news_title > h1{
    padding: 0 1vw;
  }
  section.students_about_uni .sau_border{
    height: 90%;
    width: 50%;
    padding: 0vh 17vw;
  }
  section.students_about_uni p{
    margin: 0;
  }
  section.students_about_uni div{
    padding-bottom: 0;
  }
}
@media all and (max-width: 376px) {
  .left_arrow >div, .right_arrow > div{
    left:-1%;
  }
}
